<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}" />

    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <!-- Style -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <title>Login #8</title>
  </head>
  <body>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 order-md-2">
            <img
              th:src="@{/images/undraw_file_sync_ot38.svg}"
              alt="Image"
              class="img-fluid"
            />
          </div>
          <div class="col-md-6 contents">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="mb-4">

                </div>
                <div th:if="${param.error}" class="alert alert-danger align-self-center">
                  Invalid username and password.
                </div>
                <div th:if="${param.logout}" class="alert alert-info align-self-center">
                  You have been logged out.
                </div>
                  <h3>Sign In to <strong>Lomari Store</strong></h3>
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet elit. Sapiente sit aut eos
                    consectetur adipisicing.
                  </p>
<!--                <div class="alert alert-danger align-self-center" th:if="${result}== true"> Invalid Email and or Password</div>-->

<!--                <form action="#" th:action="@{/login}" th:object="${user}" method="post">-->
<!--                  <div class="form-group first">-->
<!--                    <label for="username">Email</label>-->
<!--                    <input type="text" class="form-control" th:field="*{emailAddress}" id="username" />-->
<!--                  </div>-->
<!--                  <div class="form-group last mb-4">-->
<!--                    <label for="password">Password</label>-->
<!--                    <input type="password" class="form-control" th:field="*{password}" id="password" />-->
<!--                  </div>-->
<!--                  <input-->
<!--                    type="submit"-->
<!--                    value="Log In"-->
<!--                    class="btn text-white btn-block btn-primary"-->
<!--                  />-->
<!--                </form>-->
                <form action="#" th:action="@{/login}" method="post">
                  <div class="form-group first">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" id="username" name="username" />
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"/>
                  </div>
                  <input
                          type="submit"
                          value="Log In"
                          class="btn text-white btn-block btn-primary"
                  />
                </form>
                <div class="bg-light"> <p>Don't have an account?</p>
                  <a href="/register" >Register </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
  </body>
</html>
